In [1]:
import unicodedata
import re
import json

import nltk
from nltk.tokenize.toktok import ToktokTokenizer
from nltk.corpus import stopwords

import pandas as pd

import acquire

In [2]:
# define categories
categories = ["business", "sports", "technology", "entertainment"]

# use get_all_new_article function from acquire.py file 

news_df = acquire.get_all_news_articles(categories)

/Users/ravindersingh/codeup/florence/florence-nlp-exercises/acquire.py:92: GuessedAtParserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 92 of the file /Users/ravindersingh/codeup/florence/florence-nlp-exercises/acquire.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  soup = BeautifulSoup(response.text)

In [6]:
# look at the head of dataframe
news_df.head()

,title,content,category
0,China's ex-teacher turned billionaire no more ...,"China's Larry Chen, a former teacher who becam...",business
1,Amazon job posting fuels speculations about pl...,A new job posting by Amazon has fuelled specul...,business
2,"Musk takes a jibe at rival car companies, says...",Tesla CEO and the world's second-richest perso...,business
3,"Unemployment rate rises in both urban, rural a...",India's unemployment rate soared to 7.14% in t...,business
4,Govt paid Infosys ₹164.5 crore for new Income ...,The government paid ₹164.5 crore to Infosys to...,business

In [7]:
# lets use the content of first news item as 'article' to test my functions

article = news_df.content[0]
article

"China's Larry Chen, a former teacher who became a billionaire with edtech company Gaotu Techedu, lost his billionaire status after his company's shares fell 98%. Chen, Gaotu Techedu's Founder and CEO, is now worth $336 million according to Bloomberg. The development comes as China's new regulations banned companies teaching school curriculums from making profits, raising capital or going public."

#### 1. Define a function named basic_clean. It should take in a string and apply some basic text cleaning to it:

Lowercase everything
Normalize unicode characters
Replace anything that is not a letter, number, whitespace or a single quote.

In [23]:
def basic_clean(string):
    '''
    This function takes in a string and
    returns the string normalized.
    '''
    string = unicodedata.normalize('NFKD', string)\
             .encode('ascii', 'ignore')\
             .decode('utf-8', 'ignore')
    string = re.sub(r'[^\w\s]', '', string).lower()
    return string

In [24]:
# use the function defined above

basic_clean(article)

'chinas larry chen a former teacher who became a billionaire with edtech company gaotu techedu lost his billionaire status after his companys shares fell 98 chen gaotu techedus founder and ceo is now worth 336 million according to bloomberg the development comes as chinas new regulations banned companies teaching school curriculums from making profits raising capital or going public'

#### 2. Define a function named tokenize. It should take in a string and tokenize all the words in the string.

In [25]:
def tokenize(string):
    '''
    This function takes in a string and
    returns a tokenized string.
    '''
    # Create tokenizer.
    tokenizer = nltk.tokenize.ToktokTokenizer()
    
    # Use tokenizer
    string = tokenizer.tokenize(string, return_str=True)
    
    return string

In [26]:
# use the function defined above

tokenize(article)

"China ' s Larry Chen , a former teacher who became a billionaire with edtech company Gaotu Techedu , lost his billionaire status after his company ' s shares fell 98 % . Chen , Gaotu Techedu ' s Founder and CEO , is now worth $ 336 million according to Bloomberg. The development comes as China ' s new regulations banned companies teaching school curriculums from making profits , raising capital or going public ."

#### 3. Define a function named stem. It should accept some text and return the text after applying stemming to all the words.

In [27]:
def stem(string):
    '''
    This function takes in a string and
    returns a string with words stemmed.
    '''
    # Create porter stemmer.
    ps = nltk.porter.PorterStemmer()
    
    # Use the stemmer to stem each word in the list of words we created by using split.
    stems = [ps.stem(word) for word in string.split()]
    
    # Join our lists of words into a string again and assign to a variable.
    string = ' '.join(stems)
    
    return string

In [28]:
# use the function defined above

stem(article)

"china' larri chen, a former teacher who becam a billionair with edtech compani gaotu techedu, lost hi billionair statu after hi company' share fell 98%. chen, gaotu techedu' founder and ceo, is now worth $336 million accord to bloomberg. the develop come as china' new regul ban compani teach school curriculum from make profits, rais capit or go public."

#### 4. Define a function named lemmatize. It should accept some text and return the text after applying lemmatization to each word.

In [29]:
def lemmatize(string):
    '''
    This function takes in string for and
    returns a string with words lemmatized.
    '''
    # Create the lemmatizer.
    wnl = nltk.stem.WordNetLemmatizer()
    
    # Use the lemmatizer on each word in the list of words we created by using split.
    lemmas = [wnl.lemmatize(word) for word in string.split()]
    
    # Join our list of words into a string again and assign to a variable.
    string = ' '.join(lemmas)
    
    return string

In [30]:
# use the function defined above

lemmatize(article)

"China's Larry Chen, a former teacher who became a billionaire with edtech company Gaotu Techedu, lost his billionaire status after his company's share fell 98%. Chen, Gaotu Techedu's Founder and CEO, is now worth $336 million according to Bloomberg. The development come a China's new regulation banned company teaching school curriculum from making profits, raising capital or going public."

#### 5. Define a function named remove_stopwords. It should accept some text and return the text after removing all the stopwords.

This function should define two optional parameters, extra_words and exclude_words. These parameters should define any additional stop words to include, and any words that we don't want to remove.

In [31]:
def remove_stopwords(string, extra_words = [], exclude_words = []):
    '''
    This function takes in a string, optional extra_words and exclude_words parameters
    with default empty lists and returns a string.
    '''
    # Create stopword_list.
    stopword_list = stopwords.words('english')
    
    # Remove 'exclude_words' from stopword_list to keep these in my text.
    stopword_list = set(stopword_list) - set(exclude_words)
    
    # Add in 'extra_words' to stopword_list.
    stopword_list = stopword_list.union(set(extra_words))
    
    # Split words in string.
    words = string.split()
    
    # Create a list of words from my string with stopwords removed and assign to variable.
    filtered_words = [word for word in words if word not in stopword_list]
    
    # Join words in the list back into strings and assign to a variable.
    string_without_stopwords = ' '.join(filtered_words)
    
    return string_without_stopwords

In [32]:
# use the function defined above

remove_stopwords(article)

"China's Larry Chen, former teacher became billionaire edtech company Gaotu Techedu, lost billionaire status company's shares fell 98%. Chen, Gaotu Techedu's Founder CEO, worth $336 million according Bloomberg. The development comes China's new regulations banned companies teaching school curriculums making profits, raising capital going public."

#### 6. Use your data from the acquire to produce a dataframe of the news articles. Name the dataframe news_df.

In [33]:
# check head of my news_df dataframe:

news_df.head()

,title,content,category
0,China's ex-teacher turned billionaire no more ...,"China's Larry Chen, a former teacher who becam...",business
1,Amazon job posting fuels speculations about pl...,A new job posting by Amazon has fuelled specul...,business
2,"Musk takes a jibe at rival car companies, says...",Tesla CEO and the world's second-richest perso...,business
3,"Unemployment rate rises in both urban, rural a...",India's unemployment rate soared to 7.14% in t...,business
4,Govt paid Infosys ₹164.5 crore for new Income ...,The government paid ₹164.5 crore to Infosys to...,business

In [34]:
# use all the functions to see if they work on news_df's content column

news_df['content'].apply(basic_clean)\
.apply(tokenize)\
.apply(lemmatize)\
.apply(remove_stopwords)

0     china larry chen former teacher became billion...
1     new job posting amazon ha fuelled speculation ...
2     tesla ceo world secondrichest person elon musk...
3     india unemployment rate soared 714 week ending...
4     government paid 1645 crore infosys build new i...
                            ...
92    hollywood actress emily blunt opened husband a...
93    speaking journey indian cinema actor sachin pi...
94    actor ishaan khatter mrunal thakur priyanshu p...
95    actor jugal hansraj starred actress urmila mat...
96    recent interview actor saurabh sachdeva reveal...
Name: content, Length: 97, dtype: object

#### 7. Make another dataframe for the Codeup blog posts. Name the dataframe codeup_df.

In [35]:
codeup_df = acquire.acquire_codeup_blog()

/Users/ravindersingh/codeup/florence/florence-nlp-exercises/acquire.py:16: GuessedAtParserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 16 of the file /Users/ravindersingh/codeup/florence/florence-nlp-exercises/acquire.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  soup = BeautifulSoup(response.text)

In [36]:
codeup_df.head()

,title,published_date,blog_image,content
0,Codeup’s Data Science Career Accelerator is Here!,"September 30, 2018",https://codeup.com/wp-content/uploads/2018/10/...,The rumors are true! The time has arrived. Cod...
1,Data Science Myths,"October 31, 2018",https://codeup.com/wp-content/uploads/2018/10/...,By Dimitri Antoniou and Maggie Giust\nData Sci...
2,Data Science VS Data Analytics: What’s The Dif...,"October 17, 2018",https://codeup.com/wp-content/uploads/2018/10/...,"By Dimitri Antoniou\nA week ago, Codeup launch..."
3,10 Tips to Crush It at the SA Tech Job Fair,"August 14, 2018",None,SA Tech Job Fair\nThe third bi-annual San Anto...
4,Competitor Bootcamps Are Closing. Is the Model...,"August 14, 2018",None,Competitor Bootcamps Are Closing. Is the Model...

#### 8. For each dataframe, produce the following columns:

- title to hold the title
- original to hold the original article/post content
- clean to hold the normalized and tokenized original with the stopwords removed.
- stemmed to hold the stemmed version of the cleaned data.
- lemmatized to hold the lemmatized version of the cleaned data.

In [37]:
def prep_article_data(df, column, extra_words=[], exclude_words=[]):
    '''
    This function take in a df and the string name for a text column with 
    option to pass lists for extra_words and exclude_words and
    returns a df with the text article title, original text, stemmed text,
    lemmatized text, cleaned, tokenized, & lemmatized text with stopwords removed.
    '''
    df['clean'] = df[column].apply(basic_clean)\
                            .apply(tokenize)\
                            .apply(remove_stopwords, 
                                   extra_words=extra_words, 
                                   exclude_words=exclude_words)
    
    df['stemmed'] = df[column].apply(basic_clean)\
                            .apply(tokenize)\
                            .apply(stem)\
                            .apply(remove_stopwords, 
                                   extra_words=extra_words, 
                                   exclude_words=exclude_words)
    
    df['lemmatized'] = df[column].apply(basic_clean)\
                            .apply(tokenize)\
                            .apply(lemmatize)\
                            .apply(remove_stopwords, 
                                   extra_words=extra_words, 
                                   exclude_words=exclude_words)
    
    return df[['title', column,'clean', 'stemmed', 'lemmatized']]

In [38]:
# use the function defined above for news_df's content column.

prep_article_data(news_df, 'content', extra_words = ['ha'], exclude_words = ['no']).head()

,title,content,clean,stemmed,lemmatized
0,China's ex-teacher turned billionaire no more ...,"China's Larry Chen, a former teacher who becam...",chinas larry chen former teacher became billio...,china larri chen former teacher becam billiona...,china larry chen former teacher became billion...
1,Amazon job posting fuels speculations about pl...,A new job posting by Amazon has fuelled specul...,new job posting amazon fuelled speculations ec...,new job post amazon fuell specul ecommerc majo...,new job posting amazon fuelled speculation eco...
2,"Musk takes a jibe at rival car companies, says...",Tesla CEO and the world's second-richest perso...,tesla ceo worlds secondrichest person elon mus...,tesla ceo world secondrichest person elon musk...,tesla ceo world secondrichest person elon musk...
3,"Unemployment rate rises in both urban, rural a...",India's unemployment rate soared to 7.14% in t...,indias unemployment rate soared 714 week endin...,india unemploy rate soar 714 week end juli 25 ...,india unemployment rate soared 714 week ending...
4,Govt paid Infosys ₹164.5 crore for new Income ...,The government paid ₹164.5 crore to Infosys to...,government paid 1645 crore infosys build new i...,govern paid 1645 crore infosi build new incom ...,government paid 1645 crore infosys build new i...